# .gitignore

# Composer
/vendor/
/composer.lock

# Symfony
/var/
/public/bundles/
/public/uploads/
/public/media/

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
